@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,700&family=Saira+Condensed:wght@100;300;400;500;600&display=swap");
.App {
  text-align: center;
}

.hero {
  overflow-x: hidden !important;
}

.order-pending {
  background: #1976d2;
  padding: 4px 10px;
  border-radius: 4px;
  color: white;
}
.order-shipped {
  background: #077410;
  padding: 4px 10px;
  border-radius: 4px;
  color: white;
}

.edit-form {
  width: 90%;
  margin: 0 auto;
}

.edit-form input,
textarea {
  display: block;
  padding: 8px;
  width: 100%;
  margin-top: 5px;
}

.edit-form input,
textarea:focus {
  outline: none;
}

.top_red-box {
  width: 35px;
  height: 3px;
  display: block;
  margin: 5px auto;
  background: #df3255;
}
.card-img {
  transition: 0.4s;
}
.card-img:hover {
  transform: scale(1.07);
}
