@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,700&family=Saira+Condensed:wght@100;300;400;500;600&display=swap");
.App {
  text-align: center;
}

.hero {
  overflow-x: hidden !important;
}

.order-pending {
  background: #1976d2;
  padding: 4px 10px;
  border-radius: 4px;
  color: white;
}
.order-shipped {
  background: #077410;
  padding: 4px 10px;
  border-radius: 4px;
  color: white;
}
